* { 
	padding: 0; 
	margin: 0; 
	box-sizing: border-box; 
	font-family: cursive; 
	
} 
	
body { 
	background: #f2f2f2; 
	
} 
	
h1{ 
	text-align: center; 
	margin: 5%; 
	font-size: 3rem; 
	text-decoration: underline; 
} 
	
ul { 
	text-align: lleft; 
	padding-left: 10%; 
	padding: 7%; 
	font-size: 2rem; 
	 
} 
	

.delete {
	display: none;
}

.input-group
{
	margin-top: 10px;
	
}
.highlight{
background-color: #fff2ac;
background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}